.container

  %h2 Libraries

  %table.table
    %thead
      %th ID
      %th Name
    %tbody
      %tr{ 'ng-repeat' => 'library in ctrl.libraries track by library.id' }
        %td {{library.id}}
        %td {{library.name}}

  %h3 New Library

  .form.form-horizontal
    .form-group
      %label.control-label.col-sm-3{ for: 'name' } Name
      .col-sm-9{ errors: 'ctrl.errors.name' }
        %input#name.form-control{ type: 'text', 'ng-model' => 'ctrl.view.name' }
    .form-group
      %label.control-label.col-sm-3{ for: 'admin_email' } Admin Email
      .col-sm-9{ errors: 'ctrl.errors.user.email' }
        %input#admin_email.form-control{ type: 'email', 'ng-model' => 'ctrl.view.user.email' }
    .form-group
      %label.control-label.col-sm-3{ for: 'admin_name' } Admin Name
      .col-sm-9{ errors: 'ctrl.errors.user.name' }
        %input#admin_name.form-control{ type: 'text', 'ng-model' => 'ctrl.view.user.name' }

    .form-group
      .col-sm-offset-3.col-sm-10
        %button.btn.btn-default{ 'ng-click' => 'ctrl.create()' } Create
