.modal-header
  %h3.modal-title Access Denied
.modal-body
  %p
    You are not allowed to upload files to the current library.
.modal-footer
  %button.btn.btn-primary{ 'ng-click' => '$close()' } Close
