%p.text-center{ 'ng-show' => 'ctrl.progress' }
  %button.btn.btn-default{ 'ng-hide' => 'ctrl.queue.isPaused', 'ng-click' => 'ctrl.queue.pause()' } Pause
  %button.btn.btn-default{ 'ng-show' => 'ctrl.queue.isPaused', 'ng-click' => 'ctrl.queue.unpause()' } Continue
  Uploading:
  %span {{ctrl.progress.done}} / {{ctrl.progress.count}} files,
  %span {{ctrl.progress.loaded + ctrl.fileProgress.loaded | bytes}} / {{ctrl.progress.total | bytes}},
  %span{ 'ng-show' => 'ctrl.timeRemaining()' }
    {{ctrl.timeRemaining() | duration}} remaining

.text-right{ 'ng-show' => 'ctrl.failed' }
  {{ctrl.failed}} files failed to upload.
  %button.btn.btn-default{ 'ng-click' => 'ctrl.failed = 0' } Clear

%div{ 'file-drop' => 'ctrl.enqueue(files)' }
