.text-right.text-warning{ 'ng-show' => 'uploader.errors.length' }
  %a{ href: '#', 'ng-click' => 'uploader.viewErrors()' }
    {{uploader.errors.length}} files failed to upload.
  %button.btn.btn-default{ 'ng-click' => 'uploader.retryAll()' } Retry
  %button.btn.btn-default{ 'ng-click' => 'uploader.errors = []' } Clear

%h1.file-drop-target.bg-primary{ 'file-drop' => 'uploader.import(files)', 'ng-class' => '{ checking: uploader.checking > 0 }' }
  %span.reading
    %i.fa.fa-spin.fa-spinner
    Preparing files...
  %span.hover{ 'ng-hide' => 'uploader.progress.count' }
    Drop files to start import!
  %span.hover{ 'ng-show' => 'uploader.progress.count' }
    Drop files to add to import!

.bg-info.text-center{ 'ng-show' => 'uploader.progress' }
  %button.btn.btn-default{ 'ng-hide' => 'uploader.queue.isPaused', 'ng-click' => 'uploader.pause()' } Pause
  %button.btn.btn-default{ 'ng-show' => 'uploader.queue.isPaused', 'ng-click' => 'uploader.unpause()' } Continue
  %button.btn.btn-default{ 'ng-click' => 'uploader.cancel()' } Cancel
  Uploading:
  %span {{uploader.progress.done + 1}} / {{uploader.progress.count}} files,
  %span {{uploader.progress.loaded + (uploader.current.progress.loaded || 0) | bytes}} / {{uploader.progress.total | bytes}},
  %span{ 'ng-show' => 'uploader.skipped', 'uib-tooltip' => 'Files are skipped if they are already in the library.' }
    {{uploader.skipped}} files skipped,
  %span{ 'ng-show' => 'uploader.timeRemaining()' }
    {{uploader.timeRemaining() | duration}} remaining,
    {{uploader.uploadRate() | bytes}}/s
  %span{ 'ng-hide' => 'uploader.timeRemaining()' }
    calculating time remaining...

.ng-info.text-center{ 'ng-show' => '! uploader.progress && uploader.skipped' }
  Import complete, {{uploader.skipped}} files that are already in the library were skipped.
  %button.btn.btn-default{ 'ng-click' => 'uploader.skipped = 0' } Close

%uib-progressbar{ 'ng-if' => 'uploader.progress', max: 'uploader.progress.total',
    value: 'uploader.progress.loaded + (uploader.current.progress.loaded || 0)' }
