.filter-settings.form.clearfix

  .form-group.col-xs-4.col-sm-3.col-md-2
    %label{ for: 'limit' } Per page
    %select#limit.form-control{ 'ng-model' => 'ctrl.params.limit', 'ng-options' => 'e.i as e.i for e in ctrl.limitOptions' }

  .form-group.col-xs-4.col-sm-3.col-md-2
    %label{ for: 'order' } Sorting
    %select#order.form-control{ 'ng-model' => 'ctrl.params.order' }
      %option{ value: '' } default
      %option{ value: 'name-asc' } name &#8595;
      %option{ value: 'name-desc' } name &#8593;
      %option{ value: 'created_at-asc' } upload time &#8595;
      %option{ value: 'created_at-desc' } upload time &#8593;

.text-center{ 'ng-if' => 'ctrl.items.length != 0' }
  %pagination{ 'ng-model' => 'ctrl.params.page', 'total-items' => 'ctrl.items.count',
               'items-per-page' => 'ctrl.params.limit', 'max-size' => 5 }

.gallery.row
  %div{ 'ng-if' => 'ctrl.items.length != 0' }
    .col-xs-6.col-sm-4.col-md-3.col-lg-2{ 'ng-repeat' => 'upload in ctrl.items track by upload.id' }
      .gallery-item{ 'ng-switch' => 'upload.state' }
        %img{ 'ng-switch-when' => 'ready', 'ng-src' => '{{ upload.gallery_url }}', 'while-loading' => '{{ ctrl.placeholderImageUrl }}' }
        .processing.text-center{ 'ng-switch-when' => 'process' }
          %i.fa.fa-4x.fa-spinner.fa-spin
        %img{ 'ng-switch-when' => 'process', 'ng-src' => '{{ ctrl.placeholderImageUrl }}' }

  %p.text-center{ 'ng-if' => 'ctrl.items.count == 0' }
    There are no items in your library. Drag &amp; drop some files here to add
    them to your library.

.text-center{ 'ng-if' => 'ctrl.items.length != 0' }
  %pagination{ 'ng-model' => 'ctrl.params.page', 'total-items' => 'ctrl.items.count',
               'items-per-page' => 'ctrl.params.limit', 'max-size' => 5 }
