.row
  .col-xs-12
    %accordion
      %accordion-group{ 'is-open' => 'queryOpen' }
        %accordion-heading
          Options
          %i.pull-right.fa{ 'ng-class' => '{ "fa-chevron-down": queryOpen, "fa-chevron-right": ! queryOpen }' }
        %query-settings{ params: 'ctrl.params' }
          .form-group
            %label.control-label.col-sm-3{ for: 'limit' } Per page
            .col-sm-9
              %select#limit.form-control{ 'ng-model' => 'ctrl.params.limit', 'ng-options' => 'e.i as e.i for e in ctrl.limitOptions' }

%div{ 'ng-if' => 'ctrl.items.length != 0' }
  .text-center
    %pagination{ 'ng-if' => 'ctrl.items', 'ng-model' => 'ctrl.params.page',
      'total-items' => 'ctrl.items.count', 'items-per-page' => 'ctrl.params.limit',
      'max-size' => 5, 'previous-text' => '‹', 'next-text' => '›',
      'boundary-links' => 'true', 'first-text' => '«', 'last-text' => '»' }
    %a.pagination-status.hidden-xs{ href: '#', 'ng-hide' => 'ctrl.fetching', 'ng-click' => 'ctrl.fetch()', tooltip: 'Click to Refresh' }
      {{ctrl.items.count}} found
    %span.pagination-status{ 'ng-show' => 'ctrl.fetching' }
      %i.fa.fa-refresh.fa-spin

  .gallery.row
    .col-xs-6.col-sm-4.col-md-3.col-lg-2{ 'ng-repeat' => 'upload in ctrl.items track by upload.id' }
      .gallery-item{ 'ng-switch' => 'upload.state',
          'ng-click' => 'ctrl.click($event, upload)',
          'ng-dblclick' => 'ctrl.dblclick($event, upload)',
          'ng-class' => '{ selected: ctrl.selection.isSelected(upload.id) }' }

        %span.icon-type.fa-stack.fa-lg{ 'popover-template' => '"tooltip.html"', 'popover-trigger' => 'mouseenter', 'popover-placement' => 'bottom' }
          %i.fa.fa-stack-2x.fa-square.fa-inverse
          %i.fa.fa-stack-1x{ 'ng-class' => '{ "fa-info": upload.type == "Photo", "fa-video-camera": upload.type == "Video" }' }

        .processing.text-center{ 'ng-if' => 'upload.isLoading' }
          %i.fa.fa-4x.fa-spinner.fa-spin
        %img{ 'ng-switch-when' => 'ready', 'ng-src' => '{{ upload.gallery_url }}', 'while-loading' => '{{ ctrl.placeholderImageUrl }}', 'set-loading' => 'upload.isLoading = loading' }
        .processing.text-center{ 'ng-switch-when' => 'process' }
          %i.fa.fa-4x.fa-spinner.fa-spin
        %img{ 'ng-switch-when' => 'process', 'ng-src' => '{{ ctrl.placeholderImageUrl }}' }

  .text-center
    %pagination{ 'ng-if' => 'ctrl.items', 'ng-model' => 'ctrl.params.page',
      'total-items' => 'ctrl.items.count', 'items-per-page' => 'ctrl.params.limit',
      'max-size' => 5, 'previous-text' => '‹', 'next-text' => '›',
      'boundary-links' => 'true', 'first-text' => '«', 'last-text' => '»' }
    %a.pagination-status.hidden-xs{ href: '#', 'ng-hide' => 'ctrl.fetching', 'ng-click' => 'ctrl.fetch()', tooltip: 'Click to Refresh' }
      {{ctrl.items.count}} found
    %span.pagination-status{ 'ng-show' => 'ctrl.fetching' }
      %i.fa.fa-refresh.fa-spin

%p.text-center{ 'ng-if' => 'ctrl.items.count == 0' }
  There are no items in your library. Drag &amp; drop some files here to add
  them to your library.
