.container-fluid

  .navbar-header
    %button.navbar-toggle.collapsed{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#nav_content', 'aria-expanded' => 'false' }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      {{ctrl.library().name}}
  .collapse.navbar-collapse#nav_content
    %ul.nav.navbar-nav
      %li
        %a{ 'ng-href' => '/{{ctrl.libraryId()}}/gallery', 'ng-class' => '{ active: ctrl.path() == "/gallery" }' } Gallery
      %li
        %a{ 'ng-href' => '/{{ctrl.libraryId()}}/slides', 'ng-class' => '{ active: ctrl.path() == "/slides" }' } Slideshow

    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
          Libraries
          %span.caret
        %ul.dropdown-menu
          %li{ 'ng-repeat' => 'library in ctrl.Library.mine track by library.id' }
            %a{ 'ng-href' => '/{{library.id}}/gallery' }
              {{library.name}}

      %li.dropdown
        %a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
          {{ctrl.User.me.name}}
          %span.caret
        %ul.dropdown-menu
          %li
            %a{ href: '/profile' }
              Profile
          %li
            %a{ href: '/users/sign_out', target: '_self', 'data-method' => 'delete' }
              Sign out
