.container-fluid

  .navbar-header
    %button.navbar-toggle.collapsed{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#nav_content', 'aria-expanded' => 'false' }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      {{ctrl.library().name}}
  .collapse.navbar-collapse#nav_content
    %ul.nav.navbar-nav
      %li
        %a{ 'ng-href' => '/{{ctrl.libraryId()}}/gallery', 'ng-class' => '{ active: ctrl.path() == "/gallery" }' } Gallery
      %li
        %a{ 'ng-href' => '/{{ctrl.libraryId()}}/slides', 'ng-class' => '{ active: ctrl.path() == "/slides" }' } Slideshow

    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
          Selection
          %span{ 'ng-hide' => 'ctrl.selection.isEmpty()' } ({{ctrl.selection.count()}})
          %span.caret
        %ul.dropdown-menu
          %li
            %a{ href: '#', 'ng-click' => 'ctrl.selection.clear()' }
              Clear
          %li{ 'ng-show' => 'ctrl.selection.isPageAvailable()' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.togglePage(true)' }
              Select all on page
          %li{ 'ng-show' => 'ctrl.selection.isAllPagesAvailable()' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.toggleAllPages(true)' }
              Select all on all pages
          %li{ 'ng-show' => 'ctrl.selection.isPageAvailable() && ctrl.selection.manualDeselect()' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.togglePage(false)' }
              De-select all on page
          %li{ 'ng-show' => 'ctrl.selection.isAllPagesAvailable() && ctrl.selection.manualDeselect()' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.toggleAllPages(false)' }
              De-select all on all pages

          %li.divider{ role: 'separator' }

          %li{ 'ng-class' => '{ disabled: ctrl.selection.isEmpty() }' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.review()' }
              Review
          %li{ 'ng-class' => '{ disabled: ctrl.selection.isEmpty() }' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.deleteSelected()' }
              Delete

          %li.divider{ role: 'separator' }

          %li
            %a{ href: '#', 'ng-click' => 'ctrl.selection.manualDeselect("toggle")' }
              %i.fa{ 'ng-class' => '{ "fa-check": ctrl.selection.manualDeselect() }' }
              Click to de-select

      %li.dropdown
        %a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
          Library
          %span.caret
        %ul.dropdown-menu
          %li{ 'ng-class' => '{ disabled: ! ctrl.library() }' }
            %a{ href: '#', 'ng-click' => 'ctrl.settings()' }
              Settings

          %li.divider{ role: 'separator', 'ng-if-start' => 'ctrl.library().deleted_count' }
          %li.dropdown-header
            {{ctrl.library().deleted_count}} deleted items
          %li
            %a{ 'ng-href' => '/{{ctrl.libraryId()}}/gallery?deleted=true' }
              Review
          %li
            %a{ href: '#', 'ng-click' => 'ctrl.removeDeleted()' }
              Remove
          %li{ 'ng-if-end' => true }
            %a{ href: '#', 'ng-click' => 'ctrl.restoreDeleted()' }
              Restore

          %li.divider{ role: 'separator' }

          %li{ 'ng-repeat' => 'library in ctrl.Library.mine track by library.id' }
            %a{ 'ng-href' => '/{{library.id}}/gallery' }
              {{library.name}}

      %li.dropdown
        %a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
          {{ctrl.User.me.name}}
          %span.caret
        %ul.dropdown-menu
          %li
            %a{ href: '#', 'ng-click' => 'ctrl.profile()' }
              Profile
          %li
            %a{ href: '#', 'ng-click' => 'ctrl.password()' }
              Change Password
          %li
            %a{ href: '/users/sign_out', target: '_self', 'data-method' => 'delete' }
              Sign out
