.container-fluid

  .navbar-header
    %button.navbar-toggle.collapsed{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#nav_content', 'aria-expanded' => 'false' }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      {{ctrl.library().name}}
  .collapse.navbar-collapse#nav_content
    %ul.nav.navbar-nav
      %li{ 'ng-class' => '{ active: ctrl.pathEndsWith("/gallery") }' }
        %a{ 'ng-href' => '/{{ctrl.libraryId()}}/gallery' } Gallery
      %li{ 'ng-class' => '{ active: ctrl.pathEndsWith("/slides") }' }
        %a{ 'ng-href' => '/{{ctrl.libraryId()}}/slides' } Slideshow
      %li{ 'ng-show' => 'ctrl.library()["can_upload?"]' }
        %a{ href: '#', 'ng-click' => 'upload()' } Upload
      %li{ 'ng-show' => 'ctrl.User.me.admin', 'ng-class' => '{ active: ctrl.pathStartsWith("/admin/") }' }
        %a{ href: '/admin/libraries' } Admin

    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
          Selection
          %span.badge{ 'ng-hide' => 'ctrl.selection.isEmpty()' } {{ctrl.selection.count()}}
          %span.caret
        %ul.dropdown-menu
          %li
            %a{ href: '#', 'ng-click' => 'ctrl.selection.enabled = ! ctrl.selection.enabled' }
              {{ctrl.selection.enabled && 'Disable' || 'Enable'}}
          %li
            %a{ href: '#', 'ng-click' => 'ctrl.selection.manualDeselect("toggle")' }
              %i.fa{ 'ng-class' => '{ "fa-check": ctrl.selection.manualDeselect() }' }
              Click to de-select

          %li.divider{ role: 'separator' }

          %li
            %a{ href: '#', 'ng-click' => 'ctrl.selection.clear()', shortcut: 'c' }
              Clear
          %li{ 'ng-show' => 'ctrl.selection.isPageAvailable()' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.togglePage(true)', shortcut: 'p' }
              Select all on page
          %li{ 'ng-show' => 'ctrl.selection.isAllPagesAvailable()' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.toggleAllPages(true)', shortcut: 'a' }
              Select all on all pages
          %li{ 'ng-show' => 'ctrl.selection.isPageAvailable() && ctrl.selection.manualDeselect()' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.togglePage(false)' }
              De-select all on page
          %li{ 'ng-show' => 'ctrl.selection.isAllPagesAvailable() && ctrl.selection.manualDeselect()' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.toggleAllPages(false)' }
              De-select all on all pages

          %li.divider{ role: 'separator' }

          %li{ 'ng-class' => '{ disabled: ctrl.selection.isEmpty() }' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.editTags()', shortcut: 't' }
              Add/Remove Tags
          %li{ 'ng-class' => '{ disabled: ctrl.selection.isEmpty() }' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.review()' }
              Review
          %li{ 'ng-class' => '{ disabled: ctrl.selection.isEmpty() }' }
            %a{ href: '#', 'ng-click' => 'ctrl.selection.deleteSelected()', shortcut: 'd' }
              Delete

      %li.dropdown
        %a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
          Library
          %span.caret
        %ul.dropdown-menu
          %li{ 'ng-class' => '{ disabled: ! ctrl.library() }' }
            %a{ href: '#', 'ng-click' => 'ctrl.settings()', shortcut: 's' }
              Settings
          %li{ 'ng-show' => 'ctrl.library()["owner?"]' }
            %a{ href: '#', 'ng-click' => 'ctrl.roles()', shortcut: 'r' }
              Roles
          %li{ 'ng-show' => 'ctrl.library()["owner?"]' }
            %a{ href: '#', 'ng-click' => 'ctrl.members()', shortcut: 'm' }
              Members

          %li.divider{ role: 'separator', 'ng-if-start' => 'ctrl.library().deleted_count' }
          %li.dropdown-header
            {{ctrl.library().deleted_count}} deleted items
          %li
            %a{ 'ng-href' => '/{{ctrl.libraryId()}}/gallery?deleted=true' }
              Review
          %li
            %a{ href: '#', 'ng-click' => 'ctrl.removeDeleted()' }
              Remove
          %li{ 'ng-if-end' => true }
            %a{ href: '#', 'ng-click' => 'ctrl.restoreDeleted()' }
              Restore

          %li.divider{ role: 'separator', 'ng-if-start' => 'ctrl.Library.mine.length > 1' }

          %li{ 'ng-repeat' => 'library in ctrl.Library.mine track by library.id', 'ng-if-end' => true }
            %a{ 'ng-href' => '/{{library.id}}/gallery' }
              {{library.name}}

      %li.dropdown
        %a.dropdown-toggle{ 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
          {{ctrl.User.me.name}}
          %span.caret
        %ul.dropdown-menu
          %li
            %a{ href: '#', 'ng-click' => 'ctrl.profile()' }
              Profile
          %li
            %a{ href: '#', 'ng-click' => 'ctrl.password()' }
              Change Password
          %li
            %a{ href: '/users/sign_out', target: '_self', 'data-method' => 'delete' }
              Sign out
