.modal-header
  %h3.modal-title Change Password
.modal-body.form
  .form-group{ errors: 'ctrl.passwordErrors.password' }
    %label{ for: 'password' } Password
    %input.form-control#password{ type: 'password', 'ng-model' => 'ctrl.password.password' }

  .form-group{ errors: 'ctrl.passwordErrors.password_confirmation' }
    %label{ for: 'password_confirmation' } Confirm Password
    %input.form-control#password_confirmation{ type: 'password', 'ng-model' => 'ctrl.password.password_confirmation' }
.modal-footer
  %button.btn.btn-primary{ 'busy-click' => 'ctrl.save()' } Save
  %button.btn.btn-default{ 'ng-click' => '$dismiss()' } Cancel
