.query-settings.form.form-horizontal

  %ng-transclude

  .form-group
    %label.control-label.col-sm-3{ for: 'order' } Sorting
    .col-sm-9
      %select#order.form-control{ 'ng-model' => 'ctrl.params.order' }
        %option{ value: '' } default
        %option{ value: 'name-asc' } name &#8595;
        %option{ value: 'name-desc' } name &#8593;
        %option{ value: 'created_at-asc' } upload time &#8595;
        %option{ value: 'created_at-desc' } upload time &#8593;
        %option{ value: 'taken_at-asc' } time taken &#8595;
        %option{ value: 'taken_at-desc' } time taken &#8593;

  .form-group
    %label.control-label.col-sm-3 Tags
    .col-sm-9
      %tags-input{ 'ng-model' => 'ctrl.tags', 'tags-model' => 'ctrl.params.tags',
          template: 'tag.html', 'add-from-autocomplete-only' => 'true', 'min-length' => 2 }
        %auto-complete{ source: 'ctrl.Library.current.suggestTags($query)',
            template: 'tag_suggestion.html', 'debounce-delay' => 0,
            'min-length' => 1, 'load-on-empty' => 'true', 'load-on-focus' => 'true' }

  .form-group{ 'ng-repeat' => 'filter in ctrl.filters' }
    %label.control-label.col-sm-3
      {{ctrl.FILTER_FIELDS[filter.field].label}}
      %a.visible-xs-inline{ href: '#', 'ng-click' => 'ctrl.filters.splice($index, 1)' }
        %i.fa.fa-times
    .col-sm-3
      %select.form-control{ 'ng-model' => 'filter.op',
          'ng-options' => 'key as value for (key, value) in ctrl.OPERATORS[ctrl.FILTER_FIELDS[filter.field].type]' }
    .col-sm-5{ 'ng-switch' => 'ctrl.FILTER_FIELDS[filter.field].type' }
      %select.form-control{ 'ng-switch-when' => 'enum', 'ng-model' => 'filter.value',
          'ng-options' => 'key as value for (key, value) in ctrl.ENUM_OPTIONS[filter.field]' }
      %input.form-control{ 'ng-switch-when' => 'string', 'ng-model' => 'filter.value',
          'ng-model-options' => '{ updateOn: "blur change" }' }
      .input-group{ 'ng-switch-when' => 'date' }
        %input.form-control{ type: 'text', 'ng-model' => 'filter.value',
            'datepicker-popup' => 'yyyy-MM-dd', 'is-open' => 'isOpen' }
        %span.input-group-btn
          %button.btn.btn-default{ type: 'button', 'ng-click' => 'isOpen = ! isOpen' }
            %i.fa.fa-calendar
    .col-sm-1.hidden-xs
      %a{ href: '#', 'ng-click' => 'ctrl.filters.splice($index, 1)' }
        %i.fa.fa-times

  .form-group
    .col-sm-3.col-sm-offset-3
      %select#new_filter.form-control{ 'ng-model' => 'ctrl.newFilter',
          'ng-options' => 'key as value.label for (key, value) in ctrl.FILTER_FIELDS' }
        %option{ value: '' } Add a filter...

