.row

  .col-xs-10.col-xs-offset-1
    %h2 Settings

    .form
      .form-group{ errors: 'ctrl.errors.name' }
        %label{ for: 'name' } Name
        %input.form-control{ type: 'text', 'ng-model' => 'ctrl.view.name' }

      %button.btn.btn-primary{ 'busy-click' => 'ctrl.update()' }
        Update
