.modal-header
  %h3.modal-title {{ctrl.library.name}}
.modal-body.form.form-horizontal
  .form-group
    %label.control-label.col-sm-3{ for: 'name' } Name
    .col-sm-9{ errors: 'ctrl.errors.name' }
      %input#name.form-control{ type: 'text', 'ng-model' => 'ctrl.view.name' }
  .form-group
    %label.control-label.col-sm-3 New Upload Tags
    .col-sm-9{ errors: 'ctrl.errors.tag_new' }
      %tags-input{ 'ng-model' => 'ctrl.tag_new', template: 'tag.html',
          'allowed-tags-pattern' => '^[a-z0-9][a-z0-9&-]*$',
          placeholder: 'Tags', 'min-length' => '2', 'add-on-space' => 'true' }
  .form-group
    .col-sm-9.col-sm-offset-3
      .checkbox
        %label
          %input{ type: 'checkbox', 'ng-model' => 'ctrl.view.tag_aspect' }
          Tag Orientation
  .form-group
    .col-sm-9.col-sm-offset-3
      .checkbox
        %label
          %input{ type: 'checkbox', 'ng-model' => 'ctrl.view.tag_date' }
          Tag Month &amp; Year
  .form-group
    .col-sm-9.col-sm-offset-3
      .checkbox
        %label
          %input{ type: 'checkbox', 'ng-model' => 'ctrl.view.tag_camera' }
          Tag Camera
  .form-group
    .col-sm-9.col-sm-offset-3
      .checkbox
        %label
          %input{ type: 'checkbox', 'ng-model' => 'ctrl.view.tag_location' }
          Tag Location
.modal-footer
  %button.btn.btn-primary{ 'busy-click' => 'ctrl.save()' } Save
  %button.btn.btn-default{ 'ng-click' => '$dismiss()' } Cancel
