.slides-filters{ 'ng-class' => '{ open: queryOpen, closed: ! queryOpen }', 'ng-mouseenter' => 'queryOpen = true', 'ng-mouseleave' => 'queryOpen = false' }
  %query-settings{ 'ng-show' => 'queryOpen', params: 'ctrl.params' }
  %i.fa.fa-search{ 'ng-hide' => 'queryOpen' }

.slides{ 'ng-if' => 'ctrl.items.count != 0', 'ng-switch' => 'upload.state' }
  .dropdown{ 'uib-dropdown' => true, 'is-open' => 'dropdown', 'ng-mouseleave' => 'dropdown = false' }
    %span.icon-type{ 'ng-mouseenter' => 'dropdown = true' }
      %i.fa.fa-stack-1x.icon-type{ 'ng-class' => '{ "fa-camera": upload.type == "Photo", "fa-video-camera": upload.type == "Video" }' }
    %ul.uib-dropdown-menu{ 'template-url' => 'upload_dropdown.html', 'aria-labelledby' => 'upload{{upload.id}}' }

  %img{ 'ng-switch-when' => 'ready', 'ng-src' => '{{ upload.large_url }}', 'vertical-center' => 'upload' }
  .processing.text-center{ 'ng-switch-when' => 'process' }
    %i.fa.fa-spinner.fa-spin

  %button.btn#prev{ 'ng-click' => 'ctrl.params.i = ctrl.params.i - 1', 'ng-hide' => 'ctrl.params.i <= 0' }
    %i.fa.fa-chevron-left
  %button.btn#next{ 'ng-click' => 'ctrl.params.i = ctrl.params.i + 1', 'ng-hide' => 'ctrl.params.i >= ctrl.items.count - 1' }
    %i.fa.fa-chevron-right

%p.text-center{ 'ng-if' => 'ctrl.items.count == 0' }
  There are no items in your library. Drag &amp; drop some files here to add
  them to your library.
