.slides-filters{ 'ng-class' => '{ open: queryOpen, closed: ! queryOpen }', 'ng-mouseenter' => 'queryOpen = true', 'ng-mouseleave' => 'queryOpen = false' }
  %query-settings{ 'ng-show' => 'queryOpen', params: 'ctrl.params' }
  %i.fa.fa-search{ 'ng-hide' => 'queryOpen' }

.slides{ 'ng-if' => 'ctrl.items.count != 0', 'ng-switch' => 'ctrl.upload().state' }
  %img{ 'ng-switch-when' => 'ready', 'ng-src' => '{{ ctrl.upload().large_url }}', 'vertical-center' => 'ctrl.upload()' }
  .processing.text-center{ 'ng-switch-when' => 'process' }
    %i.fa.fa-spinner.fa-spin

  %button.btn#prev{ 'ng-click' => 'ctrl.params.i = ctrl.params.i - 1', 'ng-hide' => 'ctrl.params.i <= 0' }
    %i.fa.fa-chevron-left
  %button.btn#next{ 'ng-click' => 'ctrl.params.i = ctrl.params.i + 1', 'ng-hide' => 'ctrl.params.i >= ctrl.items.count - 1' }
    %i.fa.fa-chevron-right

%p.text-center{ 'ng-if' => 'ctrl.items.count == 0' }
  There are no items in your library. Drag &amp; drop some files here to add
  them to your library.
