.modal-header
  %h3.modal-title {{heading}}
.modal-body.form.form-horizontal
  .form-group
    .col-sm-12
      %tags-input{ 'ng-model' => 'tags', template: 'tag.html',
          'allowed-tags-pattern' => '^-?[a-z0-9][a-z0-9&-]*$',
          'min-length' => 2, 'add-on-space' => 'true' }
.modal-footer
  %button.btn.btn-primary{ 'busy-click' => '$close(tags)' } Save
  %button.btn.btn-default{ 'ng-click' => '$dismiss()' } Cancel
