footer {

  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  opacity: 0.8;
  max-height: 200px;
  z-index: 10;

  button.btn.btn-default {
    margin: 1em;
    padding-top: 0;
    padding-bottom: 0;
  }

  .file-drop-target {
    padding: 0.5em 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

    display: none;
    & > * { display: none; }

    &.hover {
      display: block;
      & > .hover { display: inline; }
    }

    &.reading, &.checking {
      display: block;
      & > .reading { display: inline; }
    }
  }

  .progress {
    @extend .bg-info;
    margin-bottom: 0;
    height: 5px;
  }

}
