footer {

  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  opacity: 0.8;
  max-height: 200px;

  button.btn.btn-default {
    margin: 1em;
    padding-top: 0;
    padding-bottom: 0;
  }

}
