.gallery {
  @extend .clearfix;
  margin: 0 2%;

  .gallery-item {
    position: relative;
    border: 1px solid #cacaca;
    border-radius: 10px;
    margin-bottom: 2em;

    img {
      display: block;
      margin: 0 auto;
      width: 90%;
      padding: 5% 0;
    }

    .processing {
      position: absolute;
      width: 100%;
      padding: 33%;

      & + img {
        visibility: hidden;
      }
    }
  }

}
