html.fullscreen ps-header {
  position: absolute;
  opacity: 0;
}

html.scrolled {
  body {
    padding-top: 50px;
  }
  ps-header {
    position: fixed;
    opacity: 0;

    & > .filters {
      position: fixed;
    }
  }
}

ps-header {
  display: block;
  width: 100%;
  top: 0;
  z-index: 10;

  &:hover  {
    opacity: 1 !important;
  }

  & > .filters {
    position: absolute;
    background: #f8f8f8;
    z-index: 10;
    top: 51px;
    width: 80%;
    margin: 0 10%;
    padding: 10px;
    border: 1px solid #e7e7e7;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  ul.nav li.separator {
    height: 50px;
    border-left: 1px solid #e7e7e7;
    margin: 0 10px;
  }
}
