html.fullscreen ps-slideshow {
  .slides {
    padding: 0;
  }
}

html.key-mode ps-slideshow {
  .slides button {
    opacity: 0;
  }
}

ps-slideshow {
  display: block;

  .slides {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    padding: 52px 0 0 0;
    z-index: -1;
    text-align: center;

    button {
      position: absolute;
      top: 45%;
      font-size: 10vh;
      background-color: transparent !important;
      border: none;
      outline: none !important;
      opacity: 0.5;

      &:hover {
        color: #ccc;
        opacity: 1;
      }
      &:active {
        color: #333;
        opacity: 1;
      }

      &#prev {
        left: 1%;
      }

      &#next {
        right: 1%;
      }
    }

    .processing {
      color: #ccc;
      font-size: 20vh;
      margin-top: 30vh;
    }

  }

}
