!!! 5
%html{ 'ng-app' => 'photo-store' }
  %head
    %title Photo Store
    = stylesheet_link_tag 'application', media: 'all'
    %script#config{ 'data-config' => render(file: 'application/_config.json.jbuilder') }
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body= yield
